<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<title>Product Details | E-Shopper</title>
<head th:replace="~{/fragments/head}">
</head><!--/head-->

<body>
	<header th:replace="~{/fragments/header}"></header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img th:src="@{'/images/shop/'+ ${product.image}}" alt=""  src=""/>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img th:src="@{/images/product-details/new.jpg}" class="newarrival" alt=""  src=""/>
								<h2>[[${product.name}]]</h2>
								<p>Product ID: [[${product.id}]]</p>
								<span>
									<span>$[[${product.price}]]</span>
									<a th:href="@{'/cart/add/'+${product.id}}" class="btn btn-default cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Color:</b> [[${product.color}]]</p>
								<p><b>Category:</b> [[${product.category.name}]]</p>
								<p><b>Brand:</b> [[${product.brand.name}]]</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="~{/fragments/footer}"></footer>

	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/price-range.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.scrollUp.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.prettyPhoto.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>